body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* First section (or block) of my landing page */

.block1 {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    height: 500px; 
}

.subblock1 {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1156px;
    /*
    margin-left: 96px;
    margin-right: 96px;
    */
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.links {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.textnimg {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.smileimg{
    width: 300px;
    height: 200px;
    border: solid;
    border-radius: 16px;
    border-color: transparent;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.subtext {
    font-size: 18px;
    width: 450px;
    color: #E5E7EB;
}
.signup {
    background-color: #3882F6;
    color: white;
    width: 108px;
    border: solid;
    border-color: #3882F6;
    border-radius: 6px;
}

/* Second section (or block) of my landing page */

.block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
}
.info {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    
}

.fourblocks {
    display: flex;
    padding-top: 72px;
}

.indivblock {
    display: flex;
    flex-direction: column;
    width: 156px;
    gap: 8px;
}

.illu {
    width: 108px;
    height: 108px;
    border: solid;
    border-color:#3882F6;
    border-radius: 8px;
}

.illudescription {
    font-size: 18px;
}

/* Third section (or block) of my landing page */

.block3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    height: 400px;
}

.quoteblock {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.quote {
    display: flex;
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
}

.quotedfrom {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
}

/* Fourth section (or block) of my landing page */

.block4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.call2action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 36px;
    padding-right: 72px;
    padding-left: 72px;
    gap: 72px;
}

.c2atext {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

#c2atext1 {
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
}
#c2atext2 {
    font-size: 18px;
    color:#F9FAF8;
}

.signup2 {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    border: solid 3px;
    border-color: #F9FAF8;
    border-radius: 6px;
    width: 120px;
    height: 36px;
    padding: 2px;
}